h1 {
    font-weight: lighter;
    font-style: italic;
}

header {
    margin-bottom: 60px;
}

footer {
    margin-top: 60px;
}

a {
    padding-right: 20px;
    text-decoration: none;
}

.dark {
    padding-top: 40px;
    background-color: #000000;
    color: #cbbaba;
    text-align: center;
}

.dark a {
    color: #ffffff;
}

a:hover,
.dark a:hover,
footer p {
    color: #f8790b;
}